n8n-workflows/health-monitor-15min.json
{
  "name": "Health Monitor - 15min",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://yourdomain.com/api/automation/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "spy-api-key",
          "name": "Spy API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "value2": "healthy"
            }
          ]
        }
      },
      "id": "3",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "message": "✅ System health check passed!\n\n📊 Status: {{$('Health Check').item.json.status}}\n- Database: {{$('Health Check').item.json.database}}\n- Timestamp: {{$('Health Check').item.json.timestamp}}"
      },
      "id": "4",
      "name": "Health OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@yourdomain.com",
        "toEmail": "alert-receiver@yourdomain.com",
        "subject": "SPY: Something Went Wrong",
        "html": "We got unusual problem at yourdomain.com, please check the Vercel log for more detailed information.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -544,
        240
      ],
      "id": "7dad0c84-400e-4850-ac1e-afd2ab43bc55",
      "name": "Send email",
      "webhookId": "6373b649-1291-48c2-80fb-7c1492e403dd",
      "credentials": {
        "smtp": {
          "id": "tYu12QNrjAzwTvzo",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Is Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Healthy?": {
      "main": [
        [
          {
            "node": "Health OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-13T00:00:00.000Z",
  "updatedAt": "2024-01-14T00:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2",
  "active": false,
  "tags": []
}
